MONGODB_URI=mongodb://127.0.0.1:27017/cip
SESSION_SECRET=changez-moi-en-production
ADMIN_EMAIL=admin@cip.local
ADMIN_PASSWORD=admin

# Si MongoDB / Docker n'est pas disponible, l'application démarre
# automatiquement une instance embarquée persistante dans .data/mongo
